.profile-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-page-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.profile-page-points {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 0 0 29px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-frame3 {
  gap: 22px;
  width: 530px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text {
  gap: 5px;
  width: 529px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text01 {
  width: 529px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-page-text02 {
  color: rgba(20, 20, 20, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-text03 {
  color: rgba(85, 85, 85, 1);
  width: 527px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 164.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-line {
  width: 530px;
  height: 1px;
  opacity: 0.50;
}
.profile-page-frame31 {
  gap: 22px;
  width: 530px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text04 {
  gap: 5px;
  width: 529px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text05 {
  width: 529px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-page-text06 {
  color: rgba(20, 20, 20, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-text07 {
  color: rgba(85, 85, 85, 1);
  width: 527px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 164.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-line1 {
  width: 530px;
  height: 1px;
  opacity: 0.50;
}
.profile-page-frame4 {
  gap: 22px;
  width: 530px;
  height: 99px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text09 {
  gap: 5px;
  width: 529px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-page-text10 {
  width: 529px;
  height: 29px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-page-text11 {
  color: rgba(20, 20, 20, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-text13 {
  color: rgba(85, 85, 85, 1);
  width: 527px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 164.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-line2 {
  width: 530px;
  height: 1px;
  opacity: 0.50;
}
@media(max-width: 1200px) {
  .profile-page-container {
    align-items: center;
    justify-content: flex-start;
  }
  .profile-page-container1 {
    width: auto;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-page-points {
    width: auto;
    align-self: center;
  }
  .profile-page-frame3 {
    justify-content: flex-start;
  }
  .profile-page-text02 {
    color: rgb(20, 20, 20);
  }
  .profile-page-text03 {
    color: rgb(85, 85, 85);
    font-size: 18px;
    font-family: Manrope;
    font-weight: 400;
    line-height: 165%;
    text-decoration: none;
  }
  .profile-page-button {
    align-self: flex-start;
    margin-left: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .profile-page-frame31 {
    justify-content: flex-start;
  }
  .profile-page-text06 {
    color: rgb(20, 20, 20);
    font-size: 22px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
  }
  .profile-page-button1 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .profile-page-container1 {
    width: 478px;
    height: 500px;
  }
  .profile-page-points {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-page-frame3 {
    width: 100%;
    align-self: stretch;
    align-items: stretch;
  }
  .profile-page-text {
    align-self: flex-start;
    align-items: stretch;
  }
}
